body {
width: 700px;
margin: 0 auto;
padding: 0 auto;
font-family: Verdana, Geneva, sans-serif;
font-size: 18px;
}

h1{
    line-height: 46px;
    font-size: 37px;
    font-family:  tahoma, Helvetica, sans-serif;
    Color: #000000;
}

h2{
    font-size: 25px;
    line-height: 38px;
    font-family:tahoma, Helvetica, sans-serif;
}
 p{
     line-height: 27px;
     color: #333;
     text-align: justify;
 }

 #banner {
     display: block;
     margin: 0 auto;
 }




